:root {
  --fondo: #f8f8f8;
  --negro: #18181b;
  --spotify: #1ed760;
  --youtube: #ff0000;
  --ytboton: #de0000;
  --facebook: #2174ee;
  --grojo: #e34133;
  --gamarilla: #f4b605;
  --gverde: #31a34f;
  --gazul: #4081ed;
  --whatsapp: #00b921;

  --fuenteFacebook: "facebook";
  --fuenteInstagram: "instagram";
}

@font-face {
  font-family: facebook;
  src: url(/fonts/klavika-bold.otf);
}
@font-face {
  font-family: instagram;
  src: url(/fonts/Billabong.ttf);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GLOBALES */

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--fondo);
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3rem;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: var(--fondo);
  font-family: "Montserrat", sans-serif;
}

/* HEADER */

.header {
  background-color: var(--negro);
  padding: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header__parrafo {
  margin: 0;
  color: var(--fondo);
}

/* FOOTER */

.footer {
  background: var(--negro);
  padding: 2rem;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

/* BOTONOES */

.card__boton {
  border-radius: 0.3rem;
  width: 85%;
  height: 4rem;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
  background-color: var(--fondo);
  font-size: 3rem;
  font-weight: 600;
  color: var(--negro);
}

/* LOGOS */

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card__section {
  background-color: var(--negro);
  -webkit-box-shadow: -6px 6px 22px -7px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -6px 6px 22px -7px rgba(0, 0, 0, 0.9);
  box-shadow: -6px 6px 22px -7px rgba(0, 0, 0, 0.9);
  padding: 1rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .card__section {
    height: 35rem;
  }
}
.card__logo {
  background-color: var(--fondo);
  color: var(--fondo);
  width: 22rem;
  height: 22rem;
}

/* SPOTIFY */

.card__logo--spotify {
  background-color: var(--spotify);
  border-radius: 50rem;
  transition: all 0.3s;
}

.card__logo--spotify:hover {
  background-color: #20e866;
  transform: scale(1.05);
  cursor: pointer;
}

.card__boton--spotify {
  background-color: var(--spotify);
  color: var(--negro);
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

.card__boton--spotify:hover {
  background-color: #20e866;
  transform: scale(1.1);
}

/* CAJAS INTERNAS */

.topBar {
  transform: rotate(5deg);
  border: 2rem solid transparent;
  border-top: 2rem solid var(--negro);
  border-radius: 47%;
  height: 10rem;
  width: 18rem;
  position: relative;
  left: 2.5rem;
  top: 6rem;
}

.topBar:before,
.topBar:after {
  content: "";
  width: 1.85rem;
  height: 1.85rem;
  background: var(--negro);
  position: absolute;
  border-radius: 50%;
  top: -0.5rem;
  left: -0.35rem;
}
.topBar:after {
  left: 12.53rem;
  background: var(--negro);
}

.midBar {
  transform: rotate(5deg);
  border: 1.7rem solid transparent;
  border-top: 1.7rem solid var(--negro);
  border-radius: 47%;
  height: 10rem;
  width: 14rem;
  position: relative;
  left: 3.9rem;
}

.midBar:before,
.midBar:after {
  content: "";
  width: 1.65rem;
  height: 1.65rem;
  background: var(--negro);
  position: absolute;
  border-radius: 50%;
  top: -0.45rem;
  left: -0.12rem;
}
.midBar:after {
  left: 9.1rem;
  background: var(--negro);
}

.botBar {
  transform: rotate(5deg);
  border: 1.4rem solid transparent;
  border-top: 1.4rem solid var(--negro);
  border-radius: 47%;
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 5.3rem;
  top: -6rem;
}

.botBar:before,
.botBar:after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background: var(--negro);
  position: absolute;
  border-radius: 50%;
  top: -0.35rem;
  left: -0.1rem;
}
.botBar:after {
  left: 5.9rem;
  background: var(--negro);
}

/*  YOUTUBE */

.card__section--youtube {
  gap: 0;
  justify-content: space-around;
}

.card__logo--youtube {
  background-color: var(--youtube);
  border-radius: 8rem / 15rem;
  height: 15rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.triangulo {
  clip-path: polygon(90% 50%, 0 0, 0 100%);
  background-color: var(--fondo);
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  transform: scale(1.1);
}

.card__boton--youtube {
  background-color: var(--youtube);
  color: var(--fondo);
  margin-top: 1rem;
  transition: all 0.3s;
}

.card__boton--youtube:hover,
.card__logo--youtube:hover {
  background-color: var(--ytboton);
  transform: scale(1.1);
  cursor: pointer;
}
/* FACEBOOK */

.card__logo--facebook {
  background: rgb(24, 172, 253);
  background: linear-gradient(
    rgba(24, 172, 253, 1) 0%,
    rgba(0, 98, 224, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.card__logo--facebook p {
  font-size: 23rem;
  font-weight: bold;
  margin: 0;
  margin-top: 5.4rem;
  margin-left: 0.5rem;
}

.card__logo--facebook:hover {
  background: rgb(21, 162, 237);
  background: linear-gradient(
    rgba(21, 162, 237, 1) 0%,
    rgba(0, 103, 237, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  transform: scale(1.1);
  cursor: pointer;
}

.card__boton--facebook {
  font-family: var(--fuenteFacebook);
  font-size: 4.3rem;
  background-color: var(--facebook);
  color: var(--fondo);
  transition: all 0.3s;
  line-height: 4.5rem;
}

.card__boton--facebook:hover {
  transform: scale(1.1);
  background-color: #1a5aba;
}

.marco-negro {
  position: absolute;
  border: 0.8rem solid var(--negro);
  width: 23rem;
  height: 23rem;
  border-radius: 100%;
}
/* INSTAGRAM */

.card__logo--instagram {
  /* background: rgb(255, 120, 5);
  background: linear-gradient(
    45deg,
    rgba(255, 120, 5, 1) 0%,
    rgba(214, 39, 65, 1) 44%,
    rgba(186, 23, 142, 1) 66%,
    rgba(177, 18, 168, 1) 88%,
    rgba(158, 8, 218, 1) 100%
  ); EL QUE HICE YO*/

  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  ); /*EL QUE SAQUE DE INTERNET*/
  border-radius: 6rem;
  transition: all 0.3s;
  cursor: pointer;
}

.marco {
  border: 1.2rem solid var(--fondo);
  width: 16rem;
  height: 16rem;
  border-radius: 5rem;
  margin: 3rem;
}

.camara {
  border: 1.2rem solid var(--fondo);
  position: absolute;
  margin: -15rem 7rem;
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
}

.punto {
  position: absolute;
  border: 0.8rem solid var(--fondo);
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  margin: -16rem 14.5rem;
}

.card__boton--instagram {
  background: linear-gradient(
    90deg,
    rgba(254, 211, 115, 1) 0%,
    rgba(241, 82, 69, 1) 35%,
    rgba(217, 46, 127, 1) 60%,
    rgba(217, 46, 127, 1) 60%,
    rgba(155, 54, 183, 1) 83%,
    rgba(81, 94, 207, 1) 100%
  );
  color: var(--fondo);
  transition: all 0.3s;
  font-family: var(--fuenteInstagram);
  font-size: 5rem;
  line-height: 4.6rem;
}

.card__boton--instagram:hover,
.card__logo--instagram:hover {
  transform: scale(1.1);
}

/* GOOGLE */

.card__logo--google {
  border: 4rem solid transparent;
  border-top: 4rem solid var(--grojo);
  border-left: 4rem solid var(--gamarilla);
  border-bottom: 4rem solid var(--gverde);
  border-right: 4rem solid var(--gazul);
  background: var(--negro);
  border-radius: 100%;
  transition: all 0.3s;
}

.card__logo--google:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.g-right {
  background-color: var(--gazul);
  width: 10.5rem;
  height: 3.5rem;
  position: absolute;
  margin-left: 7.3rem;
  margin-top: 4.4rem;
}

.g-right--negro {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: var(--negro);
  width: 8.95rem;
  height: 8.95rem;
  position: absolute;
  margin-left: 8.8rem;
  margin-top: -3.95rem;
}

.g-borde-oscuro {
  position: absolute;
  border: 0.8rem solid var(--negro);
  width: 23rem;
  height: 23rem;
  border-radius: 100%;
  margin: -4.5rem;
}

.card__boton--google {
  background: linear-gradient(
    90deg,
    var(--grojo),
    var(--grojo) 15%,
    var(--gamarilla),
    var(--gamarilla) 40%,
    var(--gverde),
    var(--gverde) 75%,
    var(--gazul),
    var(--gazul) 100%
  );
  transition: all 0.3s;
}

.card__boton--google:hover {
  transform: scale(1.1);
  background: linear-gradient(
    90deg,
    #f04435,
    #f04435 15%,
    #f2c64e,
    #f2c64e 40%,
    #39bd5c,
    #39bd5c 75%,
    #4184f0,
    #4184f0 100%
  );
}

/* WHATSAPP */

.card__logo--whatsapp {
  background-color: var(--whatsapp);
  border: 1.7rem solid var(--fondo);
  border-radius: 100%;
  transition: all 0.3s;
}

.card__logo--whatsapp:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.triangulo--whatsapp {
  clip-path: polygon(48% 31%, 38% 69%, 75% 50%);
  background: var(--fondo);
  width: 10rem;
  height: 10rem;
  margin: 14rem -3rem;
  transform: scale(1.4);
  position: absolute;
}

.triangulo-verde--whatsapp {
  clip-path: polygon(48% 31%, 38% 69%, 75% 50%);
  background: var(--whatsapp);
  position: absolute;
  width: 10rem;
  height: 10rem;
  margin: 12.6rem -1.5rem;
  transform: scale(0.9) rotate(2deg);
}

.telefono-curva {
  border: 2rem solid transparent;
  border-left: 2rem solid var(--fondo);
  width: 10rem;
  height: 12rem;
  position: absolute;
  border-radius: 100%;
  margin: 1.2rem 6.4rem;
  transform: scale(1.2) rotate(-50deg);
}

.telefono-curva:before {
  content: "";
  background-color: var(--youtube);
  clip-path: polygon(
    27% 38%,
    34% 29%,
    48% 43%,
    38% 53%,
    57% 72%,
    69% 62%,
    83% 72%,
    75% 82%,
    26.5% 47.5%
  );
  width: 10rem;
  height: 8rem;
  position: absolute;
  background: var(--fondo);
  transform: scale(1.6) rotate(60deg);
  margin-top: -1rem;
  margin-left: -3.8rem;
}

.card__boton--whatsapp {
  background-color: var(--whatsapp);
  transition: all 0.3s;
}

.card__boton--whatsapp:hover {
  transform: scale(1.1);
  background: #00e32a;
}

/* GMAIL */

.card__section--gmail {
  justify-content: space-around;
}

.card__logo--gmail {
  border-radius: 2rem;
  border-left: 4.5rem solid var(--gazul);
  border-right: 4.5rem solid var(--gverde);
  background-color: transparent;
  height: 18rem;
  margin-top: 2rem;
  transition: all 0.3s;
}

.card__logo--gmail:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card__logo--gmail:after {
  content: "";
  background: rgba(227, 65, 51, 0.9);
  height: 9.8rem;
  width: 5.7rem;
  position: absolute;
  transform: skew(30deg, 0deg) rotate(-60deg);
  margin: 0rem -1.7rem;
}
.card__logo--gmail:before {
  content: "";
  background: rgba(227, 65, 51, 0.9);
  height: 9.8rem;
  width: 5.7rem;
  position: absolute;
  transform: skew(-30deg, 0deg) rotate(60deg);
  margin: 0rem 9.6rem;
}

.marco-negro--gmail {
  height: 19rem;
  width: 25.39rem;
  position: absolute;
  margin: -0.5rem -6.15rem;
  background: transparent;
  border: 1.6rem solid var(--negro);
  border-radius: 2.5rem;
  z-index: 1;
}

.marco-negro--gmail::before {
  content: "";
  clip-path: polygon(52% 100%, 0 79%, 100% 79%);
  background: var(--negro);
  width: 20rem;
  height: 20rem;
  position: absolute;
  margin: -16.3rem 1rem;
}

.esquina-amarilla {
  clip-path: polygon(0 0, 100% 0, 100% 51%, 0% 76%);
  background: var(--gamarilla);
  width: 4.6rem;
  height: 8rem;
  position: absolute;
  margin: 1.1rem 13rem;
}

.card__boton--gmail {
  margin-top: -3rem;
}
