:root {
  --fondo: #f8f8f8;
  --negro: #18181b;
  --spotify: #1ed760;
  --youtube: #ff0000;
  --ytboton: #de0000;
  --facebook: #2174ee;

  --fuenteFacebook: "facebook";
}

@font-face {
  font-family: facebook;
  src: url(/fonts/klavika-bold.otf);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GLOBALES */

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--fondo);
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3rem;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: var(--fondo);
  font-family: "Montserrat", sans-serif;
}

/* HEADER */

.header {
  background-color: var(--negro);
  padding: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header__parrafo {
  margin: 0;
  color: var(--fondo);
}

/* BOTONOES */

.card__boton {
  border-radius: 0.3rem;
  width: 85%;
  height: 4rem;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
  background-color: var(--fondo);
  font-size: 3rem;
  font-weight: 600;
  color: var(--negro);
}

/* LOGOS */

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card__section {
  background-color: var(--negro);
  -webkit-box-shadow: -6px 6px 22px -7px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -6px 6px 22px -7px rgba(0, 0, 0, 0.9);
  box-shadow: -6px 6px 22px -7px rgba(0, 0, 0, 0.9);
  padding: 1rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .card__section {
    height: 35rem;
  }
}
.card__logo {
  background-color: var(--fondo);
  color: var(--fondo);
  width: 22rem;
  height: 22rem;
}

/* SPOTIFY */

.card__logo--spotify {
  background-color: var(--spotify);
  border-radius: 50rem;
  transition: all 0.3s;
}

.card__logo--spotify:hover {
  background-color: #20e866;
  transform: scale(1.05);
  cursor: pointer;
}

.card__boton--spotify {
  background-color: var(--spotify);
  color: var(--negro);
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

.card__boton--spotify:hover {
  background-color: #20e866;
  transform: scale(1.1);
}

/* CAJAS INTERNAS */

.topBar {
  transform: rotate(5deg);
  border: 2rem solid transparent;
  border-top: 2rem solid var(--negro);
  border-radius: 47%;
  height: 10rem;
  width: 18rem;
  position: relative;
  left: 2.5rem;
  top: 6rem;
}

.topBar:before,
.topBar:after {
  content: "";
  width: 1.85rem;
  height: 1.85rem;
  background: var(--negro);
  position: absolute;
  border-radius: 50%;
  top: -0.5rem;
  left: -0.35rem;
}
.topBar:after {
  left: 12.53rem;
  background: var(--negro);
}

.midBar {
  transform: rotate(5deg);
  border: 1.7rem solid transparent;
  border-top: 1.7rem solid var(--negro);
  border-radius: 47%;
  height: 10rem;
  width: 14rem;
  position: relative;
  left: 3.9rem;
}

.midBar:before,
.midBar:after {
  content: "";
  width: 1.65rem;
  height: 1.65rem;
  background: var(--negro);
  position: absolute;
  border-radius: 50%;
  top: -0.45rem;
  left: -0.12rem;
}
.midBar:after {
  left: 9.1rem;
  background: var(--negro);
}

.botBar {
  transform: rotate(5deg);
  border: 1.4rem solid transparent;
  border-top: 1.4rem solid var(--negro);
  border-radius: 47%;
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 5.3rem;
  top: -6rem;
}

.botBar:before,
.botBar:after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background: var(--negro);
  position: absolute;
  border-radius: 50%;
  top: -0.35rem;
  left: -0.1rem;
}
.botBar:after {
  left: 5.9rem;
  background: var(--negro);
}

/*  YOUTUBE */

.card__section--youtube {
  gap: 0;
  justify-content: space-around;
}

.card__logo--youtube {
  background-color: var(--youtube);
  border-radius: 8rem / 15rem;
  height: 15rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.triangulo {
  clip-path: polygon(90% 50%, 0 0, 0 100%);
  background-color: var(--fondo);
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  transform: scale(1.1);
}

.card__boton--youtube {
  background-color: var(--youtube);
  color: var(--fondo);
  margin-top: 1rem;
  transition: all 0.3s;
}

.card__boton--youtube:hover,
.card__logo--youtube:hover {
  background-color: var(--ytboton);
  transform: scale(1.1);
  cursor: pointer;
}
/* FACEBOOK */

.card__logo--facebook {
  background: rgb(24, 172, 253);
  background: linear-gradient(
    rgba(24, 172, 253, 1) 0%,
    rgba(0, 98, 224, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.card__logo--facebook p {
  font-size: 20rem;
  font-weight: bold;
  margin: 0;
  margin-top: 7.6rem;
  margin-left: 1rem;
}

.card__logo--facebook:hover {
  background: rgb(21, 162, 237);
  background: linear-gradient(
    rgba(21, 162, 237, 1) 0%,
    rgba(0, 103, 237, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  transform: scale(1.1);
  cursor: pointer;
}

.card__boton--facebook {
  font-family: var(--fuenteFacebook);
  font-size: 4.3rem;
  background-color: var(--facebook);
  color: var(--fondo);
  transition: all 0.3s;
  line-height: 4.5rem;
}

.card__boton--facebook:hover {
  transform: scale(1.1);
  background-color: #1a5aba;
}
